body {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px 100% 50px;
    grid-template-areas: "main-header" "main-container" "main-footer";
}

.main-header {
    grid-area: main-header;
}

.main-container {
    grid-area: main-container;
}

.main-footer {
    grid-area: main-footer;
}

.main-container {
    display: grid;
    grid-template: "meme-interface";
}

.image-gallery {
    grid-area: meme-interface;
    background-color: white;
}

.editor-container {
    grid-area: meme-interface;
    z-index: -1;
}

p {
    margin: 0;
}

.canvas-container {
    border: 2px solid red;
}

.canvas-display {
    border: 2px solid blue;
}

#my-canvas {
    border: 2px solid green;
}

.main-header {
    background-color: aqua;
}

.nav-bar li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-footer {
    background-color: aqua;
}

.editor-container {
    background-color: rgb(215, 234, 250);
}

.add-text {
    background-image: url(../icons/add.png);
}

.increase-font {
    background-image: url(../icons/increase-font.png);
}

.decrease-font {
    background-image: url(../icons/decrease-font.png);
}

.line-up {
    background-image: url(../icons/line-up.png);
}

.line-down {
    background-image: url(../icons/line-down.png);
}

.switch-line {
    background-image: url(../icons/switch-lines.png);
}

button {
    cursor: pointer;
    border: none;
    background-position: center;
    width: 30px;
    height: 30px;
    background-size: 30px;
}

@media (max-width: 480px) {
    #meme-canvas {
        width: 300px;
        height: 300px;
    }
    .image-gallery img {
        width: 100px;
    }
}