main {
    margin: 0 auto;
}

p {
    margin: 0;
}

.canvas-container {
    border: 2px solid red;
    display: flex;
}

.canvas-display {
    border: 2px solid blue;
}

#my-canvas {
    border: 2px solid green;
}

.main-header {
    height: 100px;
    width: 100%;
    background-color: aqua;
    margin-bottom: 10px;
}

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.align-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.flex.space-around {
    justify-content: space-around;
}

.page-logo {
    margin: 10px;
}

.nav-bar {
    margin: 10px;
}

.nav-bar li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 20px;
    margin-top: 10px;
    background-color: aqua;
    text-align: center;
}

.editor-container {
    background-color: rgb(215, 234, 250);
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-gallery img {
    width: 200px;
}

#free-text {
    margin-bottom: 20px;
}

.add-text {
    background-image: url(/icons/add.png);
}

.increase-font {
    background-image: url(/icons/increase-font.png);
}

.decrease-font {
    background-image: url(/icons/decrease-font.png);
}

.line-up {
    background-image: url(/icons/line-up.png);
}

.line-down {
    background-image: url(/icons/line-down.png);
}

.switch-line {
    background-image: url(/icons/switch-lines.png);
}

button {
    cursor: pointer;
    border: none;
    background-position: center;
    width: 30px;
    height: 30px;
    background-size: 30px;
}

@media (max-width: 480px) {
    #meme-canvas {
        width: 300px;
        height: 300px;
    }
    .image-gallery img {
        width: 100px;
    }
}