* {
    touch-action: manipulation;
}

body {
    margin: 0 auto;
    background-color: #e3e3e3;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.main-header {
    height: 100px;
    margin-bottom: 70px;
    position: sticky;
    top: 0;
}

.main-container {
    margin-inline-start: 70px;
    margin-inline-end: 70px;
}

.editor-container {
    display: none;
    justify-content: space-evenly;
}

.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.canvas-features {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
    align-items: center;
    justify-items: center;
    grid-template-areas: "user-text user-text user-text" "add-text switch-line ." "increase-font decrease-font ." "save . .";
}

#free-text {
    grid-area: user-text;
    align-self: normal;
    justify-self: normal;
}

.add-text {
    grid-area: add-text;
}

.increase-font {
    grid-area: increase-font;
}

.decrease-font {
    grid-area: decrease-font;
}
.save-button {
    grid-area: save;
}

p {
    margin: 0;
}

.main-header {
    background-color: #ff7f00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
}

.nav-bar li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-footer {
    background-color: #ff7f00;
    display: flex;
    justify-content: center;
    align-items: center;
}


.page-logo{
    background-image: url(../icons/page-logo.png);
    background-size: 150px;
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;

}
/* .gallery-button{
    background-image: url(../icons/gallery-btn.png);
    background-size: 150px;
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;

}
.about-button{
    background-image: url(../icons/about-btn.png);
    background-size: 150px;
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;

} */

.add-text {
    background-image: url(../icons/add.png);
}

.increase-font {
    background-image: url(../icons/increase-font.png);
}

.decrease-font {
    background-image: url(../icons/decrease-font.png);
}

.line-up {
    background-image: url(../icons/line-up.png);
}

.line-down {
    background-image: url(../icons/line-down.png);
}

.switch-line {
    background-image: url(../icons/switch-lines.png);
}

.save-button {
    background-image: url(../icons/save.png);
}

.btn {
    cursor: pointer;
    border: none;
    background-position: center;
    width: 80px;
    height: 80px;
    background-size: 80px;
}

@media (max-width: 910px) {
    #meme-canvas {
        width: 400px;
        height: 400px;
    }
    .canvas-display {
        width: 400px;
        margin-block-end: 10px;
    }
    .editor-container {
        flex-direction: column;
        align-items: center;
    }
    .main-header {
        margin-bottom: 0;
    }
    .canvas-features {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        gap: 5px;
    }
}

@media (max-width: 450px) {
    #meme-canvas {
        width: 300px;
        height: 300px;
    }
    .canvas-display {
        width: 300px;
        height: 300px;
    }
    .canvas-features {
        grid-template-columns: repeat(3, 50px);
        grid-template-rows: repeat(3, 50px);
        gap: 2.5px;
    }
    .main-header {
        height: 50px;
    }
    .main-container {
        margin-inline-start: 0;
        margin-inline-end: 0;
        display: flex;
    }
    .btn {
        width: 50px;
        height: 50px;
        background-size: 50px;
    }
    .editor-container {
        justify-content: normal;
        flex: 1;

    }
}